<h1>{{ question.question_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<h1>Vote Results</h1>

{% for choice in question.choice_set.all %}
    <li>{{ choice.choice_text }} -->>>>>>>>  {{ choice.votes }} vote{{ choice.votes|pluralize }}</li>
{% endfor %}

<hr>
</hr>


<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
{% endfor %}
<input type="submit" value="Vote" />
</form>


<form action="{% url 'polls:unvote' question.id %}" method="post">
{% csrf_token %}
{% for choice1 in question.choice_set.all %}
    <input type="radio" name="choice" id="choice1{{ forloop.counter }}" value="{{ choice1.id }}" />
    <label for="choice1{{ forloop.counter }}">{{ choice1.choice_text }}</label><br />
{% endfor %}
<input type="submit" value="UnVote" />
</form>

<a href="{% url 'polls:index' %}">GoTo HomePage</a>