<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<center>
{% include 'messages.html' %}
<a href="{% url 'person:pnew' %}"><button class="btn btn-primary">Create New Person</button></a>
<a href="{% url 'person:cnew' %}"><button class="btn btn-success">Create New College</button></a>
 <a href="{% url 'person:dnew' %}"><button class="btn btn-warning">Create New Department</button></a>
 <a href="{% url 'person:bnew' %}"><button class="btn btn-theme">Create New Book</button></a>
 <a href="{% url 'person:clist' %}"><button class="btn btn-default">Goto College List</button></a>
 <a href="{% url 'person:plist' %}"><button class="btn btn-danger">Goto Hdomepage</button></a>
</center>
 <hr>
 <hr>
 <hr>
<h3><ul>
    {% for p in object_list %}
<table>
 <thead>
    <tr>
     <th>Person NAME -- ></th>
       <td><b>{{ p.name }}</b></td>
    </tr>
</thead>
<hr>

</table>
    {% endfor %}
</ul></h3>


