<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<br>
<br>
<br>
<center>
<a href="{% url 'admin:index' %}"><button class="btn btn-warning">Goto Admin</button></a>
<a href="{% url 'polls:index' %}"><button class="btn btn-primary">Goto Polls App</button></a>
<a href="{% url 'person:plist' %}"><button class="btn btn-success">Go To Relationship App</button></a>
<a href="{% url 'users:list' %}"><button class="btn btn-danger">Go To Auth Example</button></a>
</center>
<hr>
<hr>
<hr>