<h1>Employee</h1>
<h3><ul>
    {% for emp in object_list %}
<table>
 <thead>
				<tr>
				 <th>NAME</th>
     <th>IDENTITY</th>
     <th>AGE</th>
     <th>LANGUAGE</th>
     <th>DEPARTMENT</th>
     <th>UPDATE</th>
     <th>DELETE</th>
				</tr>
</thead>
<hr>
<tbody>
	<tr>
	<td>{{ emp.name }}</td>
	<td>{{ emp.uniqueid }}</td>
	<td>{{emp.age}}</td>
	<td>{{emp.language}}</td>
	<td>{{emp.department}}</td>
	<td> <a href="{% url 'employee:edit' emp.id %}">UPDATE</a></td>
	<td> <a href="{% url 'employee:delete' emp.id %}">REMOVE</a></td>
	</tr>
</tbody> 
</table>
    {% endfor %}
</ul></h3>

<center><h2><b><a href="{% url 'employee:new' %}">Create New Employee</a></b></h2></center>

